<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    {{>header}}
    <main>
      <form class="inputform">
        <input type="text" placeholder="City name" required />
        <button type="submit">Search</button>
      </form>
      <p class="error"></p>
      <p class="data"></p>
    </main>
    {{>footer}}
    <script src="main.js"></script>
  </body>
</html>
